*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.newpass-pass-main{
 
  background-size: cover;
  background-repeat: no-repeat;
height: 600px;
width: 100%;
padding-top: 20px;
}
.keyflex{
  display: flex;
  gap: 15px;
  align-items: center;
}
.newpasstop{
  margin: auto;
  width: 515px;
  border: 1px solid rgba(0, 0, 0, 0.091);
  padding: 15px;
  background-color: white;
margin-top: 20px;
}
.inputlkgrp{
  display: flex;
  align-items: center ;
  margin-top: 10px;
}
.divlockpass{
  padding: 10px;
  background-color: orange;
 

}
.divlockpass i{
  margin: 0!important;

}
.newpasssectioncontainer{
  border: 1px solid rgba(0, 0, 0, 0.091);

  width: 515px;
  margin: auto;
  /* border: 0.5px solid rgba(0, 0, 0, 0.091); */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.newpasssectioncontainer i{
  margin-left: 160px;
  margin-top: 20px;
}
.logonewpass{
  width: 150px;
  margin: auto;
 display: block;
}
.newpassdes{
  margin-top: 80px;

}
.newpasssectioncontainer input{
padding-left: 10px;
padding-bottom: 9px;
padding-top: 10px;
border: 2px solid orange;
font-size: 15px;
outline: none;

width: 100%;
}
.mytopnew{
  margin-top: 20px!important;
}
.newpasssectioncontainer label{
  margin-top: 30px;
  display: block;
  }
  .lastpnewpass{
margin-top:60px ;
text-align: center;

  }
  .lastpnewpass,.newpasssectioncontainer button:hover{
cursor: pointer;    
      }
  .lastpnewpass a{
 color: rgb(25, 0, 255);
 font-weight: bold;
    
      }
  .newpasssectioncontainer button{
   width: 100%;
   padding-top: 10px;
   padding-bottom: 9px;
   color: white;
   background-color: orange;
   border-radius: 5px;
   margin-top: 40px;
   font-weight: bold;
   border: none;
    }